body {
  position: relative;
  min-height: 100vh;
  background-color: #473e66;
}

.app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

nav {
  background-color: #06142e;
  && h1 {
    font-size: 3.2em;
    color: #f1916d;
    padding-left: 20px;
  }
  && .nav-link {
    padding-left: 25px;
  }
}

.container {
  padding-top: 7rem;
  padding-bottom: 4rem;
  width: 90vw;
}

.home-header-img {
  padding-bottom: 20px;
}

.home-text {
  color: #f1916d;
  text-align: center;
}

a {
  text-decoration: inherit;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  transition: border-color 0.25s;
}

.order-selection {
  text-align: center;
  padding-bottom: 20px;
  && label {
    font-size: 25px;
    color: #efc2c7;
    padding-right: 5px;
  }
  && select {
    background-color: efc2c7;
    color: #06142e;
    font-size: 18px;
  }
}

.watchlist {
  color: #dda1a8;
  && button {
    background-color: #f1916d;
  }
  && .watchlist-info {
    border: 2px solid #06142e;
    width: 350px;
    border-radius: 10px;
    margin-top: 5px;
    && h4 {
      text-align: center;
    }
    && ul {
      list-style-type: none;
      font-style: italic;
      && li {
        padding-bottom: 5px;
      }
      && button {
        padding: 5px;
        margin-left: 10px;
      }
    }
  }
}

.movies-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  padding-top: 10px;
}

.movie-card {
  width: 380px;
  background-color: #dda1a8;
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
  && .movie-card-info {
    padding-left: 20px;
    && h3 a {
      color: #06142e;
    }
    && p {
      color: #06142e;
    }
  }
  && .movie-card-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    && button {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}

.show-movie {
  display: grid;
  justify-content: center;
  && .show-watchlist {
    margin-bottom: 10px;
  }
  && .show-movie-card {
    width: 380px;
    display: grid;
    justify-content: center;
    background-color: #dda1a8;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    && .show-movie-card-info {
      color: #06142e;
      padding: 15px 0px;
    }
    && button {
      margin-bottom: 10px;
    }
  }
  && .show-movie-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px 0px;
    && button {
      margin-right: 10px;
      background-color: #f1916d;
    }
  }
}

.new-movie button {
  background-color: #f1916d;
  margin-top: 10px;
  && a {
    color: black;
  }
}

.update-movie button {
  background-color: #f1916d;
  margin-top: 10px;
  && a {
    color: black;
  }
}

form {
  display: flex;
  flex-direction: column;
  color: #dda1a8;
  && button {
    background-color: #f1916d;
    margin-right: 30px;
    margin-left: 30px;
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;
  background-color: #06142e;
  padding-top: 10px;
  text-align: center;
  color: #f1916d;
}

@media (max-width: 1270px) {
  .movies-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 890px) {
  .movies-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
