body {
  position: relative;
  min-height: 100vh;
  background-color: #473e66;
}

.app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

nav {
  background-color: #06142e;
  && h1 {
    font-size: 3.2em;
    color: #f1916d;
    padding-left: 20px;
  }
  && button {
    background-color: #f1916d;
    margin-right: 20px;
  }
}

.container {
  padding-top: 7rem;
  padding-bottom: 4rem;
  width: 90vw;
}

a {
  text-decoration: inherit;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

.movies-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
}

.movie-card {
  width: 380px;
  border: 2px solid #bd83b8;
  border-radius: 10px;
  && .movie-card-info {
    padding-left: 20px;
    && p {
      color: #f5d7db;
    }
  }
  && .movie-card-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    && button {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}


.show-movie {
  display: grid;
  justify-content: center;
  && .show-movie-card {
    width: 380px;
    display: grid;
    justify-content: center;
    border: 2px solid #bd83b8;
    border-radius: 10px;
    && .show-movie-card-info {
      color: #f5d7db;
      padding: 15px 0px;
    } && button {
      margin-bottom: 10px;
    }
  }
  && .show-movie-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px 0px;
    && button {
      margin-right: 10px;
      background-color: #f1916d;
    }
  }
}

.new-movie button {
  background-color: #f1916d;
  margin-top: 10px;
  && a {
    color: black;
  }
}

.update-movie button {
  background-color: #f1916d;
  margin-top: 10px;
  && a {
    color: black;
  }
}

form {
  display: flex;
  flex-direction: column;
  color: #f5d7db;
  && button {
    background-color: #f1916d;
    margin-right: 30px;
    margin-left: 30px;
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;
  background-color: #06142e;
  padding-top: 10px;
  text-align: center;
  color: #f1916d;
}

@media (max-width: 1270px) {
  .movies-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 890px) {
  .movies-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
